#ant{
    color: red;
}
#epo{
    color: red;
}
#for{
    color: red;
}
#etter{
    color: red;
}
#tel{
    color: red;
}
button{
    background-color: greenyellow;
    border-color: greenyellow;
    border-radius: 30%;
}
